@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    text-align: center;
}

body {}

.container-fluid {
    background-image: URL('/images/b.jpg');
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
}

.heading {
    font-family: sans-serif;
    margin-top: 40vh;
    font-weight: border;
    font-display: border;
}

.URL-input,
.convert-button {
    font-size: 1.3em;
    padding: 5px 10px;
}

.URL-input {
    border-radius: 4px 0px 0px 4px;
    width: 30em;
    text-align: left;
    border: 2px solid #EEEEEE;
    background: #EEEEEE;
    outline: none;
    margin-bottom: 200px;
}

.URL-input:focus {
    border: 2px solid #ff5404;
}

.convert-button {
    border-radius: 0px 4px 4px 0px;
    border: 2px solid #ecf0f3;
    background: #ff042e;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-style: bold;
}

.convert-button:hover {
    color: rgb(19, 18, 18);
    border: solid 2px black;
    font-weight: bold;
    font-style: bold;
    border: 2px solid #ff04ea;
}

a {
    margin: 5px;
}

footer {
    background: rgb(10, 8, 100);
    padding: 1.8px;
    color: white;
}